################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BIM-Management-PowerShell/FileContentIndex/4c52f5d9-0c9d-448b-a810-a94dd6ed4730.vsidx
/.vs/BIM-Management-PowerShell/FileContentIndex/706645da-175f-4cf4-a5ed-162fd1d82285.vsidx
/.vs/BIM-Management-PowerShell/FileContentIndex/8d1433ad-6aa3-4d67-a105-d101a68fb26e.vsidx
/.vs/BIM-Management-PowerShell/FileContentIndex/a926b170-45db-49d4-9f79-30bbb8d6082e.vsidx
/.vs/BIM-Management-PowerShell/FileContentIndex/e999977c-ca69-424b-9a50-0de5552d4502.vsidx
/.vs/BIM-Management-PowerShell/FileContentIndex
/.vs/BIM-Management-PowerShell/v17
/.vs
